Repository GraceZaborski/api-recipes: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings 0, prettier --write

chore(security): add secrets detection to pre-commit hook
  .husky/pre-commit
  README.md
Due: prettier --write

chore(security): add trixy container scanner to build step
  .github/workflows/build-image.yml
  .husky/pre-commit
Due: prettier --write

docs: add brew install command for gitleaks
  README.md
Due: prettier --write

chore: specify relative paths for vscode importmodulespecifier
  .vscode/settings.json
Due: prettier --write

feat(campaigns): add endpoint to generate preview image from unlayer design
  package.json
  src/app.module.ts
  src/config/configuration.ts
  src/gcp-storage/gcp-storage.module.ts
  src/gcp-storage/gcp-storage.service.spec.ts
  src/gcp-storage/gcp-storage.service.ts
  src/unlayer/dto/exportImageResponse.dto.ts
  src/unlayer/dto/unlayer.dto.ts
  src/unlayer/unlayer.controller.spec.ts
  src/unlayer/unlayer.controller.ts
  src/unlayer/unlayer.module.ts
  yarn.lock
Due: eslint --fix --max-warnings 0, prettier --write

feat(templates): add createdby filter
  src/templates/dto/filterQuery.dto.ts
  src/templates/templates.service.ts
  test/templates.e2e-spec.ts
Due: eslint --fix --max-warnings 0

feat(templates): add sorting
  src/templates/dto/filterQuery.dto.ts
  src/templates/templates.controller.spec.ts
  src/templates/templates.service.spec.ts
  src/templates/templates.service.ts
  test/templates.e2e-spec.ts
Due: eslint --fix --max-warnings 0

feat(templates): add indexes for filtering and sorting
  src/templates/schemas/template.schema.ts
Due: eslint --fix --max-warnings 0

chore: add vscode config for debugger
  .vscode/launch.json
Due: prettier --write

feat(templates): add endpoint to fetch one template
  package.json
  src/templates/templates.controller.spec.ts
  src/templates/templates.controller.ts
  src/templates/templates.service.spec.ts
  src/templates/templates.service.ts
  test/templates.e2e-spec.ts
  yarn.lock
Due: eslint --fix --max-warnings 0, prettier --write

chore: add test header endpoint
  src/app.module.ts
  src/headerstest/headerstest.controller.ts
Due: eslint --fix --max-warnings 0

feat(templates): add delete endpoint
  src/templates/templates.controller.spec.ts
  src/templates/templates.controller.ts
  src/templates/templates.service.spec.ts
  src/templates/templates.service.ts
  test/templates.e2e-spec.ts
Due: eslint --fix --max-warnings 0

fix: update schema and exception filter to use native mongo error
  src/filters/mongoValidationException.filter.ts
  src/templates/schemas/template.schema.ts
Due: eslint --fix --max-warnings 0

fix: ensure unique title constraint is applied only within the same companyid
  src/templates/schemas/template.schema.ts
Due: eslint --fix --max-warnings 0

feat(templates): add endpoint to update template
  package.json
  src/filters/mongoValidationException.filter.ts
  src/templates/templates.controller.spec.ts
  src/templates/templates.controller.ts
  src/templates/templates.service.spec.ts
  src/templates/templates.service.ts
  test/templates.e2e-spec.ts
  yarn.lock
Due: eslint --fix --max-warnings 0, prettier --write

feat(templates): add title filter to get templates
  src/templates/dto/filterQuery.dto.ts
  src/templates/templates.controller.spec.ts
  src/templates/templates.service.spec.ts
  src/templates/templates.service.ts
  test/templates.e2e-spec.ts
Due: eslint --fix --max-warnings 0

fix: remove recipientvariables
  src/templates/dto/createTemplate.dto.ts
  src/templates/dto/template.dto.ts
  src/templates/schemas/template.schema.ts
  src/templates/templates.controller.spec.ts
  test/templates.e2e-spec.ts
Due: eslint --fix --max-warnings 0

feat(image-upload): add image upload endpoint
  package.json
  src/app.module.ts
  src/config/configuration.ts
  src/gcp-storage/gcp-storage.module.ts
  src/gcp-storage/gcp-storage.service.ts
  src/globals.ts
  src/interceptors/fastifyFile.interceptor.ts
  src/main.ts
  src/upload/upload.controller.spec.ts
  src/upload/upload.controller.ts
  src/upload/upload.module.ts
  src/upload/upload.service.spec.ts
  src/upload/upload.service.ts
  test/assets/example.png
  test/upload.e2e-spec.ts
  yarn.lock
Due: eslint --fix --max-warnings 0, prettier --write

chore: add dummy gcs setup for e2e upload tests
  docker-compose.e2e.yml
  package.json
  src/config/configuration.ts
  src/gcp-storage/gcp-storage.service.ts
  test/assets/dummy_gcs/dummy_bucket/.gitkeep
  test/templates.e2e-spec.ts
  test/upload.e2e-spec.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore: update ci to use new e2e:ci command
  .github/workflows/test.yml
Due: prettier --write

test(upload): unit tests for upload and gcp storage changes
  package.json
  src/gcp-storage/gcp-storage.service.spec.ts
  src/gcp-storage/gcp-storage.service.ts
  src/upload/upload.controller.spec.ts
  src/upload/upload.service.spec.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore: remove skip from templates e2e
  test/templates.e2e-spec.ts
Due: eslint --fix --max-warnings 0

test: check uploaded image
  package.json
  src/config/configuration.ts
  src/gcp-storage/gcp-storage.service.spec.ts
  src/gcp-storage/gcp-storage.service.ts
  test/upload.e2e-spec.ts
  yarn.lock
Due: eslint --fix --max-warnings 0, prettier --write

Path conditions:
  eslint --fix --max-warnings 0: any of: {src,apps,libs,test,util}/**/*.ts
  prettier --write: any of: **/*.{json,md,yml}
