Repository GraceZaborski/api-recipes: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings 0, prettier --write

.lintstagedrc:

{
  "{src,apps,libs,test,util}/**/*.ts": "eslint --fix --max-warnings 0",
  "**/*.{json,md,yml}": "prettier --write"
}

feat(userslist): remove unneccesary code
  src/templates/templates.service.ts
Due: eslint --fix --max-warnings 0

feat(userlist): initial commit for template creator list
  src/interceptors/hydrateUserData.interceptor.ts
  src/main.ts
  src/templates/dto/index.ts
  src/templates/dto/userListTemplate.dto.ts
  src/templates/templates.controller.ts
  src/templates/templates.service.ts
  src/user/user.service.ts
Due: eslint --fix --max-warnings 0

fix: regex for insensitive title search
  src/templates/templates.service.ts
Due: eslint --fix --max-warnings 0

fix: service test model called with regex pattern
  src/templates/templates.service.spec.ts
Due: eslint --fix --max-warnings 0

test: checks for title insensitively
  test/templates.e2e-spec.ts
Due: eslint --fix --max-warnings 0

feat: escape regexp characters in title findall search
  src/templates/templates.service.ts
Due: eslint --fix --max-warnings 0

test: add checks for title search with special characters
  src/templates/templates.service.spec.ts
  test/templates.e2e-spec.ts
Due: eslint --fix --max-warnings 0

fix(templates): show correct count when filtering
  src/templates/templates.service.ts
  test/templates.e2e-spec.ts
Due: eslint --fix --max-warnings 0

feat(unlayer): support userid and companyid, or campaignid when exporting html
  src/unlayer/dto/internalExport.dto.ts
  src/unlayer/unlayer.controller.ts
Due: eslint --fix --max-warnings 0

chore: update insecure npm package versions
  package.json
  yarn.lock
Due: prettier --write

chore: specify return from log in ecs logger
  src/logger/ecs-format/formatters.ts
Due: eslint --fix --max-warnings 0

fix: escape all html not just default
  src/unlayer/custom-tools/signature/unlayer-signature-tool.ts
Due: eslint --fix --max-warnings 0

fix: signature missing typo
  src/unlayer/custom-tools/signature/unlayer-signature-html.tsx
  src/unlayer/unlayer.service.spec.ts
Due: eslint --fix --max-warnings 0

feat: add custom video tool
  README.md
  src/unlayer/custom-tools/index.ts
  src/unlayer/custom-tools/video/index.ts
  src/unlayer/custom-tools/video/unlayer-custom-video-tool.ts
  src/unlayer/unlayer.service.spec.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix(unlayer): set max 30 second cache control on toolsjs
  src/unlayer/unlayer.controller.ts
Due: eslint --fix --max-warnings 0

fix: add a value for unsub html
  src/unlayer/custom-tools/unlayer-tools-utils.spec.ts
  src/unlayer/custom-tools/unsubscribe/unlayer-unsubscribe-tool.ts
  src/unlayer/unlayer.service.spec.ts
Due: eslint --fix --max-warnings 0

feat: add unsubscribe html endpoint
  src/unlayer/custom-tools/unlayer-tools-utils.spec.ts
  src/unlayer/custom-tools/unsubscribe/unlayer-unsubscribe-tool.ts
  src/unlayer/unlayer.controller.ts
  src/unlayer/unlayer.service.spec.ts
  src/unlayer/unlayer.service.ts
  test/templates.e2e-spec.ts
Due: eslint --fix --max-warnings 0

chore: catch all exceptions
  README.md
  package.json
  src/filters/catch-all-exception.filter.ts
  src/filters/http-exception.filter.ts
  src/globals.ts
  src/templates/templates.controller.ts
  yarn.lock
Due: eslint --fix --max-warnings 0, prettier --write

fix: logger in tests
  src/globals.ts
  src/templates/templates.controller.spec.ts
  src/templates/templates.controller.ts
  test/templates.e2e-spec.ts
  test/upload.e2e-spec.ts
Due: eslint --fix --max-warnings 0

chore: use pinologger for all logs
  src/filters/http-exception.filter.ts
  src/globals.ts
  src/main.ts
  src/templates/templates.controller.ts
Due: eslint --fix --max-warnings 0

feat(gettemplates): send user full name for createdby field in templates response
  README.md
  src/interceptors/hydrateUserData.interceptor.ts
  src/templates/templates.controller.ts
  test/templates.e2e-spec.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat(gettemplates): send user full name for createdby field in templates response
  src/interceptors/hydrateUserData.interceptor.ts
  src/templates/templates.controller.ts
  test/templates.e2e-spec.ts
Due: eslint --fix --max-warnings 0

chore(telemetry): add basic open telemtry and prometheus export
  package.json
  src/app.module.ts
  src/config/configuration.ts
  src/logger/ecs-format/request-custom-props.ts
  yarn.lock
Due: eslint --fix --max-warnings 0, prettier --write

chore(telemetry): add gcp export
  package.json
  src/app.module.ts
  src/config/configuration.ts
  src/logger/ecs-format/__snapshots__/request-custom-props.spec.ts.snap
  src/logger/ecs-format/request-custom-props.spec.ts
  yarn.lock
Due: eslint --fix --max-warnings 0, prettier --write

fix: use correct status in exception filter
  src/filters/catch-all-exception.filter.ts
Due: eslint --fix --max-warnings 0

chore(telemetry): switch telemetry module to support metrics in nest middleware
  package.json
  src/app.module.ts
  src/main.ts
  src/tracing.ts
  src/unlayer/unlayer.controller.ts
  yarn.lock
Due: eslint --fix --max-warnings 0, prettier --write

chore: use warn log level for 4xx http status
  src/filters/catch-all-exception.filter.ts
Due: eslint --fix --max-warnings 0

chore: test custom counters
  package.json
  src/app.module.ts
  src/tracing.ts
  src/unlayer/unlayer.controller.ts
  yarn.lock
Due: eslint --fix --max-warnings 0, prettier --write
