Repository GraceZaborski/api-recipes: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings 0, prettier --write

.lintstagedrc:

{
  "{src,apps,libs,test,util}/**/*.ts": "eslint --fix --max-warnings 0",
  "**/*.{json,md,yml}": "prettier --write"
}

chore: update ci to use new e2e:ci command
  .github/workflows/test.yml
Due: prettier --write

chore: remove skip from templates e2e
  test/templates.e2e-spec.ts
Due: eslint --fix --max-warnings 0

chore: add dummy gcs setup for e2e upload tests
  docker-compose.e2e.yml
  package.json
  src/config/configuration.ts
  src/gcp-storage/gcp-storage.service.ts
  test/assets/dummy_gcs/dummy_bucket/.gitkeep
  test/templates.e2e-spec.ts
  test/upload.e2e-spec.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat(campaigns): wip auto generate preview
  docker-compose.e2e.yml
  package.json
  src/common/types.ts
  src/gcp-storage/gcp-storage.service.spec.ts
  src/gcp-storage/gcp-storage.service.ts
  src/templates/dto/createTemplate.dto.ts
  src/templates/dto/template.dto.ts
  src/templates/templates.controller.spec.ts
  src/templates/templates.controller.ts
  src/templates/templates.module.ts
  src/templates/templates.service.spec.ts
  src/templates/templates.service.ts
  src/unlayer/unlayer.controller.spec.ts
  src/unlayer/unlayer.controller.ts
  src/unlayer/unlayer.module.ts
  src/unlayer/unlayer.service.spec.ts
  src/unlayer/unlayer.service.ts
  test/templates.e2e-spec.ts
  test/upload.e2e-spec.ts
  yarn.lock
Due: eslint --fix --max-warnings 0, prettier --write

feat(templates): make previewurl optional
  src/templates/dto/template.dto.ts
  src/templates/schemas/template.schema.ts
  src/templates/templates.controller.ts
  test/templates.e2e-spec.ts
Due: eslint --fix --max-warnings 0

feat: add seed db to config
  src/config/configuration.ts
  src/config/mongoConfigFromDal.ts
Due: eslint --fix --max-warnings 0

feat: case insensitive index
  src/templates/schemas/template.schema.ts
Due: eslint --fix --max-warnings 0

test: check for case sensitivity
  test/templates.e2e-spec.ts
Due: eslint --fix --max-warnings 0

feat: add seed db and user service
  docker-compose.e2e.yml
  package.json
  src/app.module.ts
  src/companies/companies.module.ts
  src/companies/companies.service.spec.ts
  src/companies/companies.service.ts
  src/companies/schemas/company.schema.ts
  src/config/configuration.ts
  src/config/mongoConfigFromDal.ts
  src/templates/schemas/template.schema.ts
  src/templates/templates.controller.spec.ts
  src/templates/templates.controller.ts
  src/templates/templates.module.ts
  src/templates/templates.service.spec.ts
  src/templates/templates.service.ts
  src/unlayer/unlayer.service.spec.ts
  src/unlayer/unlayer.service.ts
  src/user/auth-user.client/auth-user.client.ts
  src/user/user.module.ts
  src/user/user.service.spec.ts
  src/user/user.service.ts
  test/templates.e2e-spec.ts
  test/utils/mongooseTest.ts
  util/mongo/local-mongo-init.js
  yarn.lock
Due: eslint --fix --max-warnings 0, prettier --write

feat(unlayer): add custom js
  package.json
  src/templates/templates.controller.spec.ts
  src/templates/templates.controller.ts
  src/unlayer/custom-tools/index.ts
  src/unlayer/custom-tools/signature/index.ts
  src/unlayer/custom-tools/signature/unlayer-signature-html.tsx
  src/unlayer/custom-tools/signature/unlayer-signature-tool.ts
  src/unlayer/custom-tools/unlayer-tools-utils.spec.ts
  src/unlayer/custom-tools/unlayer-tools-utils.ts
  src/unlayer/custom-tools/unsubscribe/index.ts
  src/unlayer/custom-tools/unsubscribe/unlayer-unsubscribe-html.tsx
  src/unlayer/custom-tools/unsubscribe/unlayer-unsubscribe-tool.ts
  src/unlayer/unlayer.controller.ts
  src/unlayer/unlayer.module.ts
  src/unlayer/unlayer.service.ts
  src/user/user.service.ts
  tsconfig.json
  webpack.config.js
  yarn.lock
Due: eslint --fix --max-warnings 0, prettier --write

feat(unlayer): add custom js
  src/app.module.ts
  src/campaigns/campaigns.module.ts
  src/campaigns/campaigns.service.spec.ts
  src/campaigns/campaigns.service.ts
  src/campaigns/schemas/campaign.schema.ts
  src/config/configuration.ts
  src/unlayer/custom-tools/index.ts
  src/unlayer/custom-tools/signature/unlayer-signature-html.tsx
  src/unlayer/custom-tools/signature/unlayer-signature-tool.ts
  src/unlayer/custom-tools/unlayer-tools-utils.spec.ts
  src/unlayer/custom-tools/unsubscribe/unlayer-unsubscribe-html.tsx
  src/unlayer/custom-tools/unsubscribe/unlayer-unsubscribe-tool.ts
  src/unlayer/dto/internalExport.dto.ts
  src/unlayer/unlayer.controller.spec.ts
  src/unlayer/unlayer.controller.ts
  src/unlayer/unlayer.module.ts
  src/unlayer/unlayer.service.spec.ts
  src/unlayer/unlayer.service.ts
  util/mongo/local-mongo-init.js
Due: eslint --fix --max-warnings 0

test(unlayer): controller tests
  package.json
  src/config/configuration.ts
  src/unlayer/custom-tools/signature/unlayer-signature-tool.ts
  src/unlayer/unlayer.controller.spec.ts
Due: eslint --fix --max-warnings 0, prettier --write

test(unlayer): test custom js in service, fix company schema
  src/companies/schemas/company.schema.ts
  src/unlayer/dto/internalExport.dto.ts
  src/unlayer/unlayer.controller.spec.ts
  src/unlayer/unlayer.service.spec.ts
Due: eslint --fix --max-warnings 0

test: seed db service tests
  src/campaigns/campaigns.service.spec.ts
  src/companies/companies.service.spec.ts
Due: eslint --fix --max-warnings 0

test(upload): controller tests
  src/upload/upload.controller.spec.ts
Due: eslint --fix --max-warnings 0

test(user): user service tests
  src/user/user.service.spec.ts
Due: eslint --fix --max-warnings 0

test: dal to mongo config function test
  src/config/mongoConfigFromDal.spec.ts
  src/config/mongoConfigFromDal.ts
Due: eslint --fix --max-warnings 0

test(templates): enhance test coverage
  src/templates/templates.service.spec.ts
Due: eslint --fix --max-warnings 0

feat(createdby): endpoint to get unqiue createdby users for templates
  src/interceptors/hydrateUserData.interceptor.ts
  src/main.ts
  src/templates/templates.controller.ts
  src/templates/templates.module.ts
  src/templates/templates.service.ts
  src/user/user.service.ts
  util/scripts/getToken.js
Due: eslint --fix --max-warnings 0

feat(userlist): initial commit for template creator list
  src/interceptors/hydrateUserData.interceptor.ts
  src/main.ts
  src/templates/dto/index.ts
  src/templates/dto/userListTemplate.dto.ts
  src/templates/templates.controller.ts
  src/templates/templates.service.ts
  src/user/user.service.ts
Due: eslint --fix --max-warnings 0

feat(userslist): remove unneccesary code
  src/templates/templates.service.ts
Due: eslint --fix --max-warnings 0

test(templates): add e2e test for new templates users endpoint
  src/interceptors/hydrateUserData.interceptor.ts
  src/templates/templates.controller.ts
  test/templates.e2e-spec.ts
  test/upload.e2e-spec.ts
  test/utils/authUtils.ts
  test/utils/userUtils.ts
Due: eslint --fix --max-warnings 0

feat(templates): improve reusability of userhydration interceptor
  src/interceptors/hydrateUserData.interceptor.ts
  src/templates/templates.controller.ts
  test/templates.e2e-spec.ts
Due: eslint --fix --max-warnings 0

test: mock userservice in template controller test
  src/templates/dto/userListTemplate.dto.ts
  src/templates/templates.controller.spec.ts
Due: eslint --fix --max-warnings 0
